{% extends 'auth_layout.html.twig' %}

{% set pageTitle = 'templates.registration.register.page_title' %}
{% set h1 = 'templates.registration.register.h1' %}
{% set subtitle = 'templates.registration.register.subtitle' %}

{% block form %}

    {{ form_start(registrationForm) }}

        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_errors(registrationForm.email) }}
            {{ form_widget(registrationForm.email, {attr: {class: 'form-control-xl', placeholder: 'entity.user.property.email'}}) }}
            <div class="form-control-icon">
                <i class="bi bi-envelope"></i>
            </div>
        </div>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_errors(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword, {
                attr : {
                    class: 'form-control-xl',
                    placeholder: 'entity.user.property.password'
                }
            }) }}
            <div class="form-control-icon">
                <i class="bi bi-shield-lock"></i>
            </div>
        </div>

        <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">{{ 'templates.registration.register.sign_up'|trans }}</button>
    {{ form_end(registrationForm) }}

{% endblock %}


{% block afterForm %}
    <p class='text-gray-600'>
        {{ 'templates.registration.register.already_have_account_question'|trans }}
        <a href="{{ path('app_login') }}" class="font-bold">{{ 'templates.registration.register.login'|trans }}</a>.
    </p>
{% endblock %}
