{% extends 'sidebar_layout.html.twig' %}

{% set pageTitle = 'template.dashboard.page_title'|trans %}
{% set h1 = 'template.dashboard.h1'|trans %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>FuelType</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.name }}</td>
                        <td>{{ car.fuelType }}</td>
                        <td>
                            <a href="{{ path('app_car_show', {'id': car.id}) }}">show</a>
                            <a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_car_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
