{% extends 'sidebar_layout.html.twig' %}

{% set pageTitle = 'template.car.index.page_title' %}
{% set h1 = 'template.car.index.h1'|trans %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'entity.car.property.name'|trans }}</th>
                        <th>{{ 'entity.car.property.fuel_type'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for car in cars %}
                    <tr>
                        <td><a href="{{ path('app_car_edit', {'id': car.id}) }}">{{ car.name }}</a></td>
                        <td>{{ car.fuelType }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">{{ 'common.table.no_record_found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('app_car_new') }}">{{ 'common.action.create'|trans }}</a>
        </div>
    </div>
{% endblock %}
