{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="{{ path(constant('App\\Controller\\AbstractController::HOME_ROUTE_NAME')) }}"><img src="{{ asset('build/logo/logo.png') }}" alt="{{ 'templates.layout.logo'|trans }}" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-item {{ app.request.get('_route') == 'app_dashboard' ? 'active' }}">
                        <a href="{{ path(constant('App\\Controller\\AbstractController::HOME_ROUTE_NAME')) }}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>{{ 'templates.layout.menu.dashboard'|trans }}</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="sidebar-item  {{ app.request.get('_route') in [
                            'app_car_index',
                            'app_car_new',
                            'app_car_edit',
                        ] ? 'active' }}">
                            <a href="{{ path('app_car_index') }}" class='sidebar-link'>
                                <i class="bi bi-bank"></i>
                                <span>{{ 'templates.layout.menu.car'|trans }}</span>
                            </a>
                        </li>
                        <li class="sidebar-item {{ app.request.get('_route') == 'app_car_booking_index' ? 'active' }}">
                            <a href="{{ path('app_car_booking_index') }}" class='sidebar-link'>
                                <i class="bi bi-bank"></i>
                                <span>{{ 'templates.layout.menu.car_booking'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main" class='layout-navbar'>

        <header class='mb-3'>
            <nav class="navbar navbar-expand navbar-light ">
                <div class="container-fluid">
                    <a href="#" class="burger-btn d-block">
                        <i class="bi bi-justify fs-3"></i>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        </ul>
                        <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="user-menu d-flex">
                                    <div class="user-name text-end me-3">
                                        <h6 class="mb-0 text-gray-600">{{ app.user.userIdentifier }}</h6>
                                    </div>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                        <i class="icon-mid bi bi-box-arrow-left me-2"></i>
                                        {{ 'templates.layout.logout'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div id="main-content" class="pt-0">
            {{ include('partial/_message_flash.html.twig') }}
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h1>{{ h1 }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>{{ 'now'|date('Y')}} &copy; {{ app_name }}</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
{% endblock %}
