{% extends 'sidebar_layout.html.twig' %}

{% set pageTitle = 'template.dashboard.page_title' %}
{% set h1 = 'template.dashboard.h1'|trans %}

{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white">
            {{ 'template.dashboard.car_booking_list.header_title'|trans }}
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <th>{{ 'entity.car_booking.property.car'|trans }}</th>
                <th>{{ 'entity.car_booking.property.date_range'|trans }}</th>
                <th>{{ 'common.action.delete'|trans }}</th>
                </thead>
                {% for carBooking in carBookings %}
                    <tr>
                        <td>{{ carBooking.car.name }}</td>
                        <td>{{ carBooking.date|date('d-m-Y') }}</td>
                        <td>
                            {{ include('car_booking/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'common.table.no_record_found'|trans }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
            {% for car in cars %}
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <h4 class="card-title">{{ car.name }}</h4>
                                <p class="card-text">
                                    {{ car.fuelType }}
                                </p>
                            </div>
                            <img class="img-fluid w-100" src="https://edgepharm.com/wp-content/uploads/2020/01/image-placeholder.jpg" alt="{{ 'templates.dashboard.index.car_img_alt'|trans }}">
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a href="{{ path('app_car_booking_new', {id: car.id}) }}" class="btn btn-light-primary">{{ 'templates.dashboard.index.car_card_read_more'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
