{% extends 'sidebar_layout.html.twig' %}

{% set pageTitle = 'template.car_booking.index.page_title'|trans %}
{% set h1 = 'template.car_booking.index.h1'|trans %}

{% block content %}
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'entity.car_booking.property.car'|trans }}</th>
                    <th>{{ 'entity.car_booking.property.date_range'|trans }}</th>
                    <th>{{ 'entity.car_booking.property.user'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for car_booking in car_bookings %}
                <tr>
                    <td>{{ car_booking.car.name }}</td>
                    <td>{{ car_booking.date ? car_booking.date|date('Y-m-d') : '' }}</td>
                    <td>{{ car_booking.user.userIdentifier }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3"><th>{{ 'common.table.no_record_found'|trans }}</th></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
